.neon{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Arial, sans-serif
}
.two{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.5em;
}

body {
    margin: 400px;
    background-color: #767676;
 
}

figure {
    text-align: center;
    margin: 0;
}

.pic {
    max-width: 100%;
    height: auto;
    text-align: center;
}
img{
    display: block; 
    margin: 0 auto; 
    width: 50%;
    height: auto;
    line-height: 3em;
}
.grid-container {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    line-height: 3em;
}
 .language{
    color:rgb(255, 255, 255);
    font-size: 15px;
}

.til{
    text-decoration: none;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 1.5em;
}